body {
  text-align: center;
}

.mono, .mono * {
  font-family: monospace;
  font-size: 20px;
}

.mono span {
  background: buttonface;
}

select, option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
}

input {
  padding: 10px;
  margin: 10px;
}

form {
  margin: 20px 0 100px;
}

button {
  margin: 20px;
  font-size: 20px;
}

.message {
  color: green;
}

.error {
  color: red;
}
