body {
  text-align: center;
}

.mono {
  font-family: monospace;
  font-size: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  padding: 10px;
  margin: 10px;
}

form {
  margin: 20px 0 100px;
}

button {
  margin: 20px;
  font-size: 20px;
}

.error {
  color: red;
}
